    <div class="row fist-row mb-2 p-2">
        <!-- FIRST ROW STARTS-->
        <div class="col-md-3">
            <div class="product card1">
                <div class="product-first d-flex justify-content-between">
                    <span class="p-2 fw-bold">Products</span>
                    <i class="signal fa fa-signal p-2 me-3"></i>
                </div>
                <h1 class="product-sec">4500</h1>
                <div class="product-third">
                    <span class="badge bg-warning fw-bold">sales</span>
                    <span class="m-2 fw-bold">Ariving Today</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product card2">
                <div class="product-first d-flex justify-content-between">
                    <span class="p-2 fw-bold">Products</span>
                    <i class="gift fa fa-gift p-2 me-3"></i>
                </div>
                <h1 class="product-sec">37,500</h1>
                <div class="product-third">
                    <span class="badge bg-primary">Views</span>
                    <span class="m-2 fw-bold">Views Today</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product card3">
                <div class="product-first d-flex justify-content-between">
                    <span class="p-2 fw-bold">Products</span>
                    <i class="map fa fa-map-signs p-2 me-3"></i>
                </div>
                <h1 class="product-sec">$30,680</h1>
                <div class="product-third">
                    <span class="badge bg-success">sales</span>
                    <span class="m-2 fw-bold">Reviews</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product card4">
                <div class="product-first d-flex justify-content-between">
                    <span class="p-2 fw-bold">Products</span>
                    <i class="rocket fa fa-rocket p-2 me-3"></i>
                </div>
                <h1 class="product-sec">$30,700</h1>
                <div class="product-third">
                    <span class="badge bg-danger">sales</span>
                    <span class="m-2 fw-bold">Reviews</span>
                </div>
            </div>
        </div>
    </div> <!-- FIRST ROW ENDS -->