<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="./assests/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../main.css" />

    <title>Dashboard</title>
</head>

<body>
    <!-- HEADER NAV MAIN CONTENT -->
    <div class="mainheader-content fixed-top py-2">
        <div class="header-brand py-2">Quantum Table</div>
        <div class="file-box py-2">
            <span class="dashBoard-btn me-3"><i class="fa fa-bars"></i></span>
            <span class="file"><i class="fa fa-files-o" aria-hidden="true"></i>Files</span>
        </div>
        <!-- DROPDOWN NEED   -->
        <!-- SEARCH BAR -->
        <div class="search-wrapper py-2">
            <input class="input-header" type="search">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <!-- AD BUTTON -->
        <button type="button" id="upgradeBtn" class="btn btn-sm btn-primary">UPGRADE TO PRO</button>
        <!-- NOTIFICTION BTNS -->
        <div class="notification-btns py-2">
            <i class="fa fa-bell me-3" aria-hidden="true"></i>
            <i class="fa fa-arrows-alt me-3" aria-hidden="true"></i>
            <i class="fa fa-comments" aria-hidden="true"></i>
        </div>
        <!-- USER PROFILE  -->
        <div class="userprofile-wrapper">
            <img src="./assests/user/profile-picture-1.png" alt="">
            <!-- DROPDOWN NEED -->
        </div>
    </div>

    <!-- ASIDE-BAR-CONTENT  -->
    <div class="side-bar " id="side-bar">
        <div class="sidebar-menu">
            <ul class="active py-2">
                <li>
                    <span><i class="fa fa-tachometer px-2" aria-hidden="true"></i></span><span>Admin</span>
                </li>
                <li>
                    <span><i class="fa fa-briefcase px-2" aria-hidden="true"></i></span><span>UI Elemnets</span>
                </li>
                <li>
                    <span><i class="fa fa-bar-chart px-2" aria-hidden="true"></i></span><span>Charts & Maps</span>
                </li>
                <li>
                    <i class=" fa fa-clipboard  px-2" aria-hidden="true"></i><a href="#formSubmenu"
                        data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Form</a>
                    <ul class="collapse lisst-unstyled" id="formSubmenu">
                        <li class="submenu mt-2">
                            <i class="fa fa-sign-in px-2" aria-hidden="true"></i><a href="#formSubmenu">Sign up</a>
                        </li>
                        <li class="submenu">
                            <i class="fa fa-wrench  px-2" aria-hidden="true"></i><a href="#formSubmenu">Renewal</a>
                        </li>
                        <li class="submenu">
                            <i class="fa fa-film  px-2" aria-hidden="true"></i><a href="#formSubmenu">Website</a>
                        </li>
                        <li class="submenu">
                            <i class="fa fa-commenting-o  px-2" aria-hidden="true"></i><a
                                href="#formSubmenu">feedback</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="fa fa-align-right px-2" aria-hidden="true"></i></span><span>Table</span>
                </li>
                <li>
                    <span><i class="fa fa-files-o px-2" aria-hidden="true"></i></span><span>Pages</span>
                </li>
                <li>
                    <span><i class="fa fa-anchor px-2" aria-hidden="true"></i></span><span>Menu Level 1</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- ASIDE-BAR-CONTENT -->


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {

            $('.dashBoard-btn').on('click', function () {
                $('#side-bar').toggleClass('active');
            });

        });
    </script>
</body>