<!-- Table Area Starts -->
<table class="table table-hover align-items-center">
    <thead>
        <tr>
            <th>Profile</th>
            <th>Project</th>
            <th>Completed</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div><img width="24px" height="24px" src="./assests/user/profile-picture-1.png" alt=""></div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block ">
                        <span class="fw-bold">Robocompos</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2014
                        </div>
                    </div>
                </div>
            </td>
            <td><i class="fa fa-pie-chart"></i></td>
            <td><span class="text-success">90%</span></td>
            <td><span class="fw-bold">October 21, 2010</span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <img width="24px" height="24px" src="./assests/user/profile-picture-2.png" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block">
                        <span class="fw-bold">DDS wireless</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2015
                        </div>
                    </div>
                </div>
                </div>
            </td>
            <td><i class="fa fa-pie-chart"></i></td>
            <td><span class="text-info">60%</span></td>
            <td><span class="fw-bold">November 21, 2015</span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <img width="24px" height="24px" src="./assests/user/profile-picture-3.png" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block">
                        <span class="fw-bold">WeldingPro</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2016
                        </div>
                    </div>
                </div>
                </div>
            </td>
            <td><i class="fa fa-pie-chart"></i></td>
            <td><span class="text-success">85%</span></td>
            <td><span class="fw-bold">September 21, 2015</span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <img width="24px" height="24px" src="./assests/user/profile-picture-4.png" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block">
                        <span class="fw-bold">Gardening</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2018
                        </div>
                    </div>
                </div>
                </div>
            </td>
            <td><i class="fa fa-pie-chart"></i></td>
            <td><span class="text-danger">35%</span></td>
            <td> <span class="fw-bold">April 21, 2018</span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <img width="24px" height="24px" src="./assests/user/profile-picture-5.png" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block">
                        <span class="fw-bold">SPMT</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2019
                        </div>
                    </div>
                </div>
                </div>
            </td>
            <td><i class="fa fa-pie-chart"></i></td>
            <td><span class="text-danger">45%</span>
            </td>
            <td><span class="fw-bold">May 21, 2015</span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <img width="24px" height="24px" src="./assests/user/profile-picture-6.png" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="d-block">
                        <span class="fw-bold">Info-Ship</span>
                        <div class="fw-lighter">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            created on 2021
                        </div>
                    </div>
                </div>
                </div>
            </td>
            <td><span class="fa fa-pie-chart"></span></td>
            <td><span class='text-warning me-2'> 50%</span></td>
            <td><span class="fw-bold">Febraury 21, 2015</span>
            </td>
        </tr>
    </tbody>
</table>
<!-- Table Area Ends -->